//osu - colors

$primary : #2299BB;
$secondary : #fff;
$pink : #fc6aaa;
$purple : #aa88ff;
$yellow : #FFCC22;
$green : #88b300;
$black : #121415;
$red : #BB2222;
$gray : #C4C4C4;


// background - colors

$dark : #171a1c;
$classic : #2E3538;
$light : #465156;


// mods - colors

$dark-nm : #1A1A1A;
$light-nm : #666666;

$dark-hd : #5A581D;
$light-hd : #7F6000;

$dark-hr : #5A1D1D;
$light-hr : #660000;

$dark-dt : #35194A;
$light-dt : #351C75;

$dark-fm : #192D4A;
$light-fm : #073763;


$dark-tb : #214D2A;
$dark-tb : #274E13;


// border-radius

$light-border : 10px;
$strong-border : 9999px;


// shadow

$shadow : 0 1px 3px rgb(0, 0, 0, .25);


// typo

$small : 0.5rem;
$medium : 1rem;
$large : 1.5rem;
$extra-large : 2rem;
$largest : 2.5rem;

// breakpoints

$breakpoint-sm : 600px;
$breakpoint-md : 1024px;
$breakpoint-lg : 1350px;