main{
  margin-top: 40px;
  margin-bottom: 62px;
}

.section{
  background: $classic;
}

.article{
  background: $light;
  width: 98%;
  margin: auto;
}

ul{
  list-style-type: none;
}
li{
  text-decoration: none;
  display: block;
}