@charset "UTF-8";

body {
  font-size: 100%;
  font-family: "Roboto Thin", sans-serif;
  background-color: #171a1c;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

body a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: none;
}

/*
::-webkit-scrollbar — la barre entière.
::-webkit-scrollbar-button — les boutons de la barre de défilement (les flèches vers le bas ou le haut)
::-webkit-scrollbar-thumb — l'emplacement qui permet de déplacer la barre de défilement.
::-webkit-scrollbar-track — la piste (la zone de progression) de la barre de défilement
::-webkit-scrollbar-track-piece — la partie de la piste qui n'est pas couverte par le bouton de la barre de défilement.
::-webkit-scrollbar-corner — le coin inférieur de la barre où les barres horizontales et verticales se rencontrent.
::-webkit-resizer — le bouton qui apparaît dans le coin inférieur de certains éléments et qui permet de les redimensionner.
*/

body::-webkit-scrollbar {
  width: 16px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #171a1c;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #465156;
  /* color of the scroll thumb */
  border-radius: 100px;
  /* roundness of the scroll thumb */
  border: 4px solid transparent;
  /* creates padding around scroll thumb */
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(70, 81, 86, 0.65);
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

@media (min-width: 1350px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-flex {
    display: flex !important;
  }
}

@media (min-width: 1024px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-flex {
    display: flex !important;
  }
}

@media (min-width: 600px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-flex {
    display: flex !important;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.1rem 0.6rem;
  font-size: 0.7rem;
  line-height: 1.5;
  border-radius: 9999px;
  background-position: center;
  background-size: 200%;
  background-image: url("https://osu.ppy.sh/assets/images/button.16de7c2c.svg");
  transition: all 0.12s ease-in-out;
}

.btn:hover {
  text-decoration: none;
  background-position: calc(50% - 20px) 50%;
  transition: all 0.12s ease-in-out;
}

.btn svg {
  width: 1em;
}

.btn-primary {
  border-radius: 10px;
  background-color: #2299BB;
  color: #fff;
  fill: #fff;
}

.btn-pink {
  border-radius: 10px;
  background-color: #BB1177;
  color: #fff;
  fill: #fff;
}

.btn-follow {
  background-color: #2299BB;
  color: #fff;
  fill: #fff;
}

.btn-follow:hover {
  background-color: #36b6da;
}

.btn-following {
  background-color: rgba(0, 0, 0, 0.5);
  color: #2299BB;
  border: 1px solid #2299BB;
  padding: 0.2rem 0.6rem;
}

.btn-lg {
  padding: 0.5rem;
  font-size: 1rem;
  width: 300px;
}

.btn-xl {
  padding: 1rem;
  font-size: 2rem;
  width: 300px;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1.5em;
  color: #fff;
  display: inline-block;
  margin: 0.7em 0 1em 1em;
  font-weight: normal;
}

h2:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  border-radius: 10px;
  width: 100%;
  background-color: #2299BB;
}

h3 {
  font-size: 1.25em;
  margin: 0;
  color: #fff;
  font-weight: normal;
}

.card {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin: auto;
}

.card-map {
  width: 95%;
  margin-bottom: 1rem;
  border-radius: 9999px !important;
}

.tag {
  font-size: 0.6em;
  margin: auto 0.2em 0.2em 0.2em;
  padding: 0.2em 0.5em;
  background-color: #C4C4C4;
  color: #171a1c;
  border-radius: 10px;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.tag-1 {
  background-color: #BC497C;
  color: #fff;
}

.tag-2 {
  background-color: #7E64BD;
  color: #fff;
}

.tag-3 {
  background-color: #BA951A;
  color: #fff;
}

.tag-4 {
  background-color: #6C8D02;
  color: #fff;
}

.tag-5 {
  background-color: #171a1c;
  color: #fff;
}

.thumbnail {
  border-radius: 9999px;
}

.thumbnail-more {
  background-color: #C4C4C4;
  vertical-align: center;
  font-size: 0.5rem;
  color: #171a1c;
  text-align: center;
  padding-top: 0.25rem;
  width: 1rem;
}

.thumbnail-contributor {
  background-position: center;
  background-size: cover;
  width: 1rem;
  height: 1rem;
}

.scroll {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .scroll {
    display: flex;
  }
}

.scroll-text {
  margin-top: 50px;
  font-family: "Cabin", sans-serif;
  letter-spacing: 12px;
  text-indent: 12px;
  color: #ffffff;
  -webkit-animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
          animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
}

.scroll-mouse {
  background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
  position: relative;
  width: 26px;
  height: 44px;
  border-radius: 100px;
  background-size: 100% 200%;
  -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
          animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}

.scroll-mouse:before,
.scroll-mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.scroll-mouse:before {
  width: 22px;
  height: 40px;
  background-color: #2E3538;
  border-radius: 100px;
}

.scroll-mouse:after {
  background-color: #ffffff;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  -webkit-animation: trackBallSlide 5s linear infinite;
          animation: trackBallSlide 5s linear infinite;
}

@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }

  20% {
    background-position: 0% 0%;
  }

  21% {
    background-color: #4e5559;
  }

  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }

  30% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }

  50% {
    background-position: 0% 0%;
  }

  51% {
    background-color: #4e5559;
  }

  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }

  60% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }

  80% {
    background-position: 0% 0%;
  }

  81% {
    background-color: #4e5559;
  }

  90%, 100% {
    background-color: #ffffff;
  }
}

@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }

  20% {
    background-position: 0% 0%;
  }

  21% {
    background-color: #4e5559;
  }

  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }

  30% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }

  50% {
    background-position: 0% 0%;
  }

  51% {
    background-color: #4e5559;
  }

  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }

  60% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }

  80% {
    background-position: 0% 0%;
  }

  81% {
    background-color: #4e5559;
  }

  90%, 100% {
    background-color: #ffffff;
  }
}

@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }

  6% {
    opacity: 1;
    transform: scale(0.9) translateY(2.5px);
  }

  14% {
    opacity: 0;
    transform: scale(0.4) translateY(20px);
  }

  15%, 19% {
    opacity: 0;
    transform: scale(0.4) translateY(-10px);
  }

  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }

  30% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }

  36% {
    opacity: 1;
    transform: scale(0.9) translateY(2.5px);
  }

  44% {
    opacity: 0;
    transform: scale(0.4) translateY(20px);
  }

  45%, 49% {
    opacity: 0;
    transform: scale(0.4) translateY(-10px);
  }

  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }

  60% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }

  66% {
    opacity: 1;
    transform: scale(0.9) translateY(2.5px);
  }

  74% {
    opacity: 0;
    transform: scale(0.4) translateY(20px);
  }

  75%, 79% {
    opacity: 0;
    transform: scale(0.4) translateY(-10px);
  }

  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }

  6% {
    opacity: 1;
    transform: scale(0.9) translateY(2.5px);
  }

  14% {
    opacity: 0;
    transform: scale(0.4) translateY(20px);
  }

  15%, 19% {
    opacity: 0;
    transform: scale(0.4) translateY(-10px);
  }

  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }

  30% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }

  36% {
    opacity: 1;
    transform: scale(0.9) translateY(2.5px);
  }

  44% {
    opacity: 0;
    transform: scale(0.4) translateY(20px);
  }

  45%, 49% {
    opacity: 0;
    transform: scale(0.4) translateY(-10px);
  }

  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }

  60% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }

  66% {
    opacity: 1;
    transform: scale(0.9) translateY(2.5px);
  }

  74% {
    opacity: 0;
    transform: scale(0.4) translateY(20px);
  }

  75%, 79% {
    opacity: 0;
    transform: scale(0.4) translateY(-10px);
  }

  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }
}

@-webkit-keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(4px);
  }

  30% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(4px);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(4px);
  }

  90% {
    transform: translateY(0);
  }
}

@keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(4px);
  }

  30% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(4px);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(4px);
  }

  90% {
    transform: translateY(0);
  }
}

@-webkit-keyframes nudgeText {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(1px);
  }

  30% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1px);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(1px);
  }

  90% {
    transform: translateY(0);
  }
}

@keyframes nudgeText {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(1px);
  }

  30% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1px);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(1px);
  }

  90% {
    transform: translateY(0);
  }
}

@-webkit-keyframes colorText {
  21% {
    color: #4e5559;
  }

  30% {
    color: #ffffff;
  }

  51% {
    color: #4e5559;
  }

  60% {
    color: #ffffff;
  }

  81% {
    color: #4e5559;
  }

  90% {
    color: #ffffff;
  }
}

@keyframes colorText {
  21% {
    color: #4e5559;
  }

  30% {
    color: #ffffff;
  }

  51% {
    color: #4e5559;
  }

  60% {
    color: #ffffff;
  }

  81% {
    color: #4e5559;
  }

  90% {
    color: #ffffff;
  }
}

.logo_nathel #main_logo {
  transform-origin: 50% 60%;
  -webkit-animation: 15s linear 0s infinite rotate;
          animation: 15s linear 0s infinite rotate;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.header-desktop {
  display: flex;
  z-index: 9999;
  background-color: #2299BB;
  padding: 0 0.2rem;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  box-shadow: 0 -1px 2px 1px rgba(0, 0, 0, 0.25);
}

.header-desktop ul {
  display: flex;
  margin: auto;
}

.header-side {
  position: fixed;
  bottom: 0;
  width: 100vw;
  font-size: 0.6rem;
  background: #2E3538;
}

.header-side .slide-wrap {
  display: none;
}

.header-side ul {
  display: flex;
}

.header-side .nav-item {
  padding: 0.4rem;
}

.header-side .nav-item:hover {
  background-color: #171a1c;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.25);
}

.header-side .nav-item .nav-link .svg {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.logo_nathel {
  width: 44px;
  height: 56px;
}

.nav-item {
  flex: 1 1 auto;
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
  display: block;
}

.nav-item:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  border-radius: 10px;
  width: 0;
  background-color: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.nav-item .nav-link {
  color: #fff;
  display: grid;
  grid-template-areas: "svg" "text";
}

.nav-item .nav-link .svg {
  fill: #fff;
  margin: 0 auto 5px;
  width: 45px;
  height: 45px;
  grid-area: svg;
}

.nav-item .nav-link .text {
  grid-area: text;
}

.nav-item:hover:after {
  width: 70%;
  background-color: #2299BB;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.nav-item:hover .nav-link {
  color: #2299BB;
}

.nav-item:hover .nav-link .svg {
  fill: #2299BB;
}

.mobile-burger {
  height: 60px;
  margin-left: auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  color: #C4C4C4;
  fill: #fff;
  background: rgba(8, 124, 157, 0.5);
}

.mobile-burger span {
  margin-right: 20px;
}

@media (min-width: 1024px) {
  .header-desktop {
    background-color: #2E3538;
    margin-left: 72px;
    bottom: unset;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    width: calc(100vw - 72px);
    display: flex;
    padding-top: 5px;
  }

  .header-desktop .logo_nathel {
    margin: -5px 1rem 0 1rem;
    width: 75px;
    height: 100px;
  }

  .header-desktop .nav-item {
    min-width: 120px;
    height: 95px;
  }

  .header-desktop .nav-item:hover {
    background: #171a1c;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.25);
  }

  .header-desktop .nav-item:hover:after {
    width: 70% !important;
  }

  .header-desktop .nav-link {
    padding: 1rem 1em 0 1rem;
  }

  .header-desktop .navbar {
    margin-right: auto;
  }

  .header-desktop .nav-desktop {
    align-items: center;
    justify-content: space-between;
  }

  .header-desktop .nav-desktop .form-header {
    align-content: center;
    display: flex;
  }

  .header-desktop .nav-desktop .form-header .search {
    height: 2.5em;
    margin: 0.5em 0.3em 0.5em 1em !important;
    background: rgba(161, 161, 161, 0.33) !important;
  }

  .header-desktop .nav-desktop .form-header .search::-moz-placeholder {
    color: #fff !important;
  }

  .header-desktop .nav-desktop .form-header .search:-ms-input-placeholder {
    color: #fff !important;
  }

  .header-desktop .nav-desktop .form-header .search::placeholder {
    color: #fff !important;
  }

  .header-desktop .nav-desktop .form-header .btn-search {
    margin-right: 1em !important;
  }

  .header-desktop .nav-desktop .twitter {
    border-radius: 100px;
    border: 2.5px solid rgba(161, 161, 161, 0.29);
    box-sizing: border-box;
    padding: 0.4em;
    fill: #fff;
    height: 45px;
    width: 45px;
    margin-right: 0.5em;
  }

  .header-desktop .nav-desktop .twitter:hover {
    fill: #00ACEE;
    border: 2.5px solid rgba(0, 172, 238, 0.29);
  }

  .header-desktop .nav-desktop .discord {
    border-radius: 100px;
    border: 2.5px solid rgba(161, 161, 161, 0.29);
    box-sizing: border-box;
    padding: 0.4em;
    fill: #fff;
    height: 45px;
    width: 45px;
  }

  .header-desktop .nav-desktop .discord:hover {
    fill: #7289da;
    border: 2.5px solid rgba(114, 137, 218, 0.29);
  }

  .header-side {
    display: block;
    top: 0;
    height: 100vh;
    width: 72px;
    background-color: #465156;
    box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.25);
  }

  .header-side .slide-wrap {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .header-side .slide-wrap .menu {
    margin: auto;
    fill: #fff;
  }

  .header-side ul {
    display: block;
  }

  .header-side .nav-item {
    padding: 0.5rem 0;
  }

  .mr-1 {
    margin-right: 1rem;
  }
}

.search-mobile {
  display: grid;
  position: fixed;
  top: 0;
  width: 100vw;
  background: #2299BB;
  color: #fff;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo search btn";
}

.search-mobile .header-logo {
  grid-area: logo;
  width: 30px;
  padding: 5px 0;
  margin-left: 0.5em;
}

.search-mobile .search {
  grid-area: search;
}

.search-mobile .btn-search {
  grid-area: btn;
}

#header .search {
  background: rgba(0, 0, 0, 0.33);
  border-radius: 9999px;
  margin: 0.7em 1em;
  border: none;
  padding: 0 1em;
  min-width: 100px;
  color: #fff;
}

#header .search::-moz-placeholder {
  color: #2E3538;
}

#header .search:-ms-input-placeholder {
  color: #2E3538;
}

#header .search::placeholder {
  color: #2E3538;
}

#header .btn-search {
  background: none;
  border: none;
  fill: #fff;
  margin-right: 0.5em;
}

.card-mappool {
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  border-radius: 10px;
  padding: 0.5rem 0.2rem 0.5rem 1rem;
  color: #fff;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 1fr auto;
  grid-template-areas: "title . btn ." "collection tag tag ." "maps tag tag arrow";
}

.card-mappool .card-title {
  grid-area: title;
}

.card-mappool .mappool-collection {
  grid-area: collection;
  font-size: 0.7rem;
}

.card-mappool .mappool-collection .name {
  color: #FC6AFF;
  text-decoration: underline;
}

.card-mappool .nb-maps {
  grid-area: maps;
  font-size: 0.7rem;
  margin-top: auto;
}

.card-mappool .form {
  grid-area: btn;
}

.card-mappool .tags {
  grid-area: tag;
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.card-mappool .arrow {
  margin-bottom: -4px;
  grid-area: arrow;
}

.card-mappool .arrow svg {
  fill: #fff;
  width: 1.5rem;
  height: 1.5rem;
}

.mappool {
  border-radius: 10px;
  margin: 0.5rem auto !important;
}

.maps {
  padding: 1rem 0 0.1rem;
}

.map {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.2rem 1rem;
  background-position: center;
  border-radius: 9999px;
  color: #fff;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "name . mod" "mapper . mod";
}

.map .map-name {
  grid-area: name;
  font-size: 0.7rem;
}

.map .mapper {
  grid-area: mapper;
  font-weight: lighter;
  font-size: 0.6rem;
}

.map .mod {
  margin: auto 0;
  grid-area: mod;
  width: 3rem;
}

.nm-map {
  border: 2px solid #1A1A1A;
}

.hd-map {
  border: 2px solid #5A581D;
}

.hr-map {
  border: 2px solid #5A1D1D;
}

.fm-map {
  border: 2px solid #192D4A;
}

.tb-map {
  border: 2px solid #274E13;
}

.dt-map {
  border: 2px solid #35194A;
}

.banner {
  background-position: center;
  background-size: cover;
}

.banner .user-info {
  background-color: rgba(23, 26, 28, 0.5);
  padding: 1rem;
  color: #fff;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "thumbnail name ." "thumbnail . flag";
}

.banner .user-info .thumbnail {
  grid-area: thumbnail;
  width: 100px;
}

.banner .user-info .user-name {
  grid-area: name;
  margin-top: 0.5em;
}

.banner .user-info .country {
  grid-area: flag;
  margin-top: auto;
  width: 2.5rem;
}

.stats {
  background-color: rgba(46, 53, 56, 0.5);
  justify-content: center;
  margin: -1.5rem 0 0.5rem;
  padding: 2rem 1rem 1rem;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.stats .mappool-stat {
  font-weight: bold;
  margin: 0 0.5rem 0.5rem 0.5rem;
  font-size: 0.7rem;
  text-align: center;
  flex: 0 0 40%;
  max-width: 40%;
}

.stats .mappool-stat:before {
  content: "";
  display: block;
  margin: 0 auto 0.3rem;
  height: 3px;
  border-radius: 10px;
  width: 100%;
  background-color: #fc6aaa;
}

.stats .stat-note {
  margin-top: 1rem;
  display: flex;
  font-size: 0.7rem;
  flex-wrap: wrap;
}

.stats .stat-note .note {
  margin: auto 0.5rem auto 0.5rem;
  display: grid;
  max-width: 20%;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "svg" "text";
}

.stats .stat-note .note svg {
  grid-area: svg;
  width: 42px;
}

.stats .stat-note .note span {
  margin-top: 0.2rem;
  text-align: center;
  grid-area: text;
}

.info-collection {
  background-color: rgba(23, 26, 28, 0.5);
  padding: 1rem;
  color: #fff;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 70% 30%;
  grid-template-areas: "name btn" "mappool ." "maps contributors" "title-tag contributors" "tags tags";
}

.info-collection .name {
  grid-area: name;
  font-size: 1.5rem;
}

.info-collection .nb-mappool {
  grid-area: mappool;
  margin-top: 0.3rem;
}

.info-collection .maps {
  grid-area: maps;
}

.info-collection .title-tag {
  grid-area: title-tag;
  font-size: 0.7rem;
  margin: 0.3rem 0;
}

.info-collection .tags {
  grid-area: tags;
  display: flex;
  flex-wrap: wrap;
}

.info-collection .contributors {
  grid-area: contributors;
  font-size: 0.7rem;
}

.info-collection .contributors .list-contributor {
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  display: flex;
}

.info-collection .contributors .list-contributor .thumbnail {
  margin-left: -0.3rem;
}

.info-collection .form {
  grid-area: btn;
  margin-left: auto;
}

.jumbotron {
  background-size: cover;
  background-position: center;
}

.mappool-jumbotron {
  padding: 3rem 3rem 1rem;
  height: calc(100vh - 100px - 4rem);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: grid;
  grid-template-areas: "h1" "value" "." "scroll";
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: auto;
}

.mappool-jumbotron .card-title {
  color: #fff;
  grid-area: h1;
}

.mappool-jumbotron .card-title h1 {
  font-size: 3rem;
}

.mappool-jumbotron .card-title span {
  font-size: 1.2rem;
}

.mappool-jumbotron .card-title .btn {
  display: block;
  margin-top: 2rem;
}

.mappool-jumbotron .punch-line {
  grid-area: value;
  padding: 1.5rem;
  background-color: rgba(34, 40, 42, 0.8);
  border-radius: 10px;
  max-width: 1000px;
  margin: 5vh 0 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.mappool-jumbotron .punch-line .card {
  margin: 0 0 0 0;
  width: 100%;
  flex: 0 0 40%;
  max-width: 40%;
  display: grid;
  grid-template-areas: "desc" "." "btn";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
}

.mappool-jumbotron .punch-line .card .desc {
  grid-area: desc;
  display: flex;
  flex-wrap: wrap;
}

.mappool-jumbotron .punch-line .card h2 {
  font-size: 2rem;
  margin: 0.7rem 0 0.5rem 0;
}

.mappool-jumbotron .punch-line .card .btn {
  grid-area: btn;
  margin: auto;
}

.mappool-jumbotron .punch-line .card-value {
  width: 100%;
  flex: 0 0 60%;
  max-width: 60%;
}

.mappool-jumbotron .punch-line .card-value .float-card {
  width: 400px;
  background-color: #465156;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 20px 20px 20px rgba(23, 26, 28, 0.3);
  transition: transform 0.2s ease;
  display: grid;
  grid-template-areas: "svg title" "svg desc";
  grid-template-columns: 120px 1fr;
  grid-template-rows: 1.5rem auto;
}

.mappool-jumbotron .punch-line .card-value .float-card:nth-child(1) {
  margin-top: -50px;
  transform-origin: 75% 40%;
}

.mappool-jumbotron .punch-line .card-value .float-card:nth-child(1):hover {
  transform: rotate(-3deg);
  transition: transform 0.2s ease;
}

.mappool-jumbotron .punch-line .card-value .float-card:nth-child(2) {
  margin: 5vh -50px 5vh 220px;
}

.mappool-jumbotron .punch-line .card-value .float-card:nth-child(2):hover {
  transform: rotate(5deg);
  transition: transform 0.2s ease;
}

.mappool-jumbotron .punch-line .card-value .float-card:nth-child(3) {
  margin-bottom: -50px;
  transform-origin: 40% 75%;
}

.mappool-jumbotron .punch-line .card-value .float-card:nth-child(3):hover {
  transform: rotate(-5deg);
  transition: transform 0.2s ease;
}

.mappool-jumbotron .punch-line .card-value .float-card .svg {
  grid-area: svg;
  margin: auto;
}

.mappool-jumbotron .punch-line .card-value .float-card h3 {
  grid-area: title;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2299BB;
}

.mappool-jumbotron .punch-line .card-value .float-card p {
  grid-area: desc;
}

.mappool-jumbotron .scroll {
  grid-area: scroll;
}

main {
  margin-top: 50px;
  margin-bottom: 0;
}

.section {
  background: #2E3538;
  margin-bottom: 0.5rem;
}

.article {
  background: #465156;
  width: 98%;
  margin: auto;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
  display: block;
}

@media (min-width: 1024px) {
  main {
    margin-left: 72px;
    margin-top: 100px;
  }
}

