.card{
  background-position: center;
  background-size: cover;
  border-radius: $light-border;
  margin: auto;
}

.card-map{

  width:  95%;
  margin-bottom: 1rem;
  border-radius: $strong-border !important;
}