.d-none{
  display: none !important;
}

.d-block {
  display: block !important;
}



@media (min-width: $breakpoint-sm) {

  .d-sm-none {
    display: none !important;
  }

  .d-sm-block{
    display: block !important;
  }

  .d-sm-flex{
    display: flex !important;
  }

}