h1{
  margin: 0;
}

h2{

  font-size: 1.5em;
  color: $secondary;
  display: inline-block;
  margin: .7em 0 1em 1em;
  font-weight: normal;

  &:after{

    content: '';
    display: block;
    margin: auto;
    height: 3px;
    border-radius: $light-border;
    width: 100%;
    background-color: $primary;
  }
}

h3{

  font-size: 1.25em;
  margin: 0;
  color: $secondary;
  font-weight: normal;
}