.jumbotron {
  background-size: cover;
  background-position: center;
}

.mappool-jumbotron {
  padding: 3rem 3rem 1rem;
  height: calc(100vh - 100px - 4rem);
  background-color: rgba(0, 0, 0, 50%);
  color: $secondary;
  display: grid;
  grid-template-areas: "h1" "value" "." "scroll";
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: auto;

  .card-title {
    color: $secondary;
    grid-area: h1;

    h1 {
      font-size: 3rem;
    }

    span {
      font-size: 1.2rem;
    }

    .btn {
      display: block;
      margin-top: 2rem;
    }
  }

  .punch-line {
    grid-area: value;
    padding: 1.5rem;
    background-color: rgba(34, 40, 42, 80%);
    border-radius: $light-border;
    max-width: 1000px;
    margin: 5vh 0 0 auto;
    display: flex;
    flex-wrap: wrap;

    .card {
      margin: 0 0 0 0;
      width: 100%;
      flex: 0 0 40%;
      max-width: 40%;
      display: grid;
      grid-template-areas: "desc" "." "btn";
      grid-template-rows: auto 1fr auto;
      grid-template-columns: auto;

      .desc {
        grid-area: desc;
        display: flex;
        flex-wrap: wrap;
      }

      h2{
        font-size: 2rem;
        margin: 0.7rem 0 0.5rem 0;
      }


      .btn {
        grid-area: btn;
        margin: auto;
      }
    }

    .card-value {
      width: 100%;
      flex: 0 0 60%;
      max-width: 60%;

      .float-card{
        width: 400px;
        background-color: $light;
        border-radius: $light-border;
        padding: 15px;
        box-shadow: 20px 20px 20px rgb(23, 26, 28, 30%);
        transition: transform .2s ease;
        display: grid;
        grid-template-areas:  "svg title"
                              "svg desc";
        grid-template-columns: 120px 1fr;
        grid-template-rows: 1.5rem auto;

        &:nth-child(1){
          margin-top: -50px;
          transform-origin: 75% 40%;

          &:hover{
            transform: rotate(-3deg);
            transition: transform .2s ease;
          }
        }

        &:nth-child(2){
          margin: 5vh -50px 5vh 220px;

          &:hover{
            transform: rotate(5deg);
            transition: transform .2s ease;
          }
        }

        &:nth-child(3){
          margin-bottom: -50px;
          transform-origin: 40% 75%;

          &:hover{
            transform: rotate(-5deg);
            transition: transform .2s ease;
          }
        }

        .svg{
          grid-area: svg;
          margin: auto;
        }

        h3{
          grid-area: title;
          font-size: 1.5rem;
          font-weight: bold;
          color: $primary;
        }

        p{
          grid-area: desc;
        }

      }
    }
  }
.scroll{
  grid-area: scroll;
}
}