.card-mappool {
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  border-radius: $light-border;
  padding: .5rem .2rem .5rem 1rem;
  color: $secondary;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 1fr auto;
  grid-template-areas:
          "title . btn ."
          "collection tag tag ."
          "maps tag tag arrow";

  .card-title {
    grid-area: title;
  }

  .mappool-collection {
    grid-area: collection;
    font-size: .7rem;

    .name{
      color: #FC6AFF;
      text-decoration: underline;
    }
  }

  .nb-maps {
    grid-area: maps;
    font-size: .7rem;
    margin-top: auto;
  }

  .form {
    grid-area: btn;
  }

  .tags{
    grid-area: tag;
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .arrow{
    margin-bottom: -4px;
    grid-area: arrow;

    svg{
      fill: $secondary;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.mappool {
  border-radius: $light-border;
  margin: .5rem auto !important;
}

@media (min-width: 1350px) {
  
}